<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% include analytics.html %}

  <div class="off-canvas-container">
    {% include sidebar.html %}

    {{ content }}
  </div>

  <script src="{{ '/js/jquery-2.1.4.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/jquery.ghostHunter.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/js/script.js' | prepend: site.baseurl }}"></script>
  <!-- <script src="https://deepchat.ai/widget/deploy.js"></script>
  <script>$(document).ready(function(){ $.deepchat({ "app_token": "82pt39m4" });});</script> -->
</body>
</html>